
.loginpage
{
width:25%;
height:auto;
float:left;
border:5px double #02A552;
margin-left:37%;
margin-top:10%;
	
}
.loginlogo
{
padding:1em;
width:100%;
height:auto;	
}

.logininfo
{
margin-left:4.5em;	
}

.username
{
font-size:18px;
color:#666;	
}

.text
{
margin-top:1em;	
}

.login
{
	margin-top:1em;
}

.forgotpass
{
margin-left:10em;
padding:0.5em;
}

.forgotpass>a
{
color:#EE1451;
	
}

.changepass
{
margin-left:10em;
padding:0.5em;
}

.changepass>a
{
color:#EE1451;
	
}